*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 120px;
}
.divaeditar{
    background-color: #232f3e!important;
}
.nav-link{
    color: white!important;
}
.butoncito{
    background-color: white;
}
.a{
    background-color: blanchedalmond!important;
    text-align: center;
    
}


.tabla_listado{
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.tablita{
    width: 80em!important;
}