*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 120px;
}
.divaeditar{
    background-color: #232f3e!important;
}
.nav-link{
    color: white!important;
}
.a{
    background-color: blanchedalmond!important;
    text-align: center;
    border: 1px black solid!important;
    
}


.tabla_listado{
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin-top: 20px!important;
}

.tablita{
    width: 80em!important;
    border: 2px black solid!important;
}
.b{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 238, 221)!important;
}
.botona{
    background-color: black;
}