*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#232F3E;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.h3_login{
    color: #FF9900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.label_nombre{
    color: rgb(238, 237, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cajaInterna{
    padding: 10px;
}
.boton{
    border: none!important;
    background-color: white;
    color: rgb(68, 68, 68);
    margin-left: 10px;
    font-weight: bold;
    margin-top: 25px;
}
.boton:hover{
    background-color: #FF9900!important;
    font-weight: bold;

}
.registro{
    display: flex;
    margin-left: 10px;
}
.enlace_registrar{
    color: #FF9900;
    text-decoration: none;
    margin-left: 4px;
}
.texto-registrar{
    color: white;
}
.enlace_registrar:hover{
    text-decoration: underline;
}